{% extends "main/base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Sign Up</button>
    </form>
</div>

{% endblock %}