{% extends "main/base.html" %}

{% block content %}

<div class="container" style="margin-top: 30px;">
    <h1>WELCOME!</h1>
    {% if user.is_authenticated %}
        <h1>{{ user.first_name }}</h1>
    {% else %}
        <h1>Please Log In to feel the whole experience</h1>
        <a href="/login">HERE!</a>
    {% endif %}
</div>

{% endblock %}